@CHARSET "ISO-8859-1";

.fa-custom {
  padding: 20px;
  font-size: 24px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}    

.number-custom {
	color: black;
	background: white !important;
}

.number-custom:hover {
	color: black !important;
}

.custom-hr {
	border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.dropdown-submenu {
    position: relative;
}

.custom-red {
	color: red;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.nav-tabs { 
	border-bottom: 2px solid #DDD; 
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { 
	border-width: 0; 
	background-color: #e7e7e7;
}

.nav-tabs > li > a { 
	border: medium;
	border-color: black; 
	color: #666; 
	font-size: large;	
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover { 
	border: none; 
	color: #00933D !important;
	background-color: #e7e7e7;
}

.nav-tabs > li > a::after { 
	content: ""; 
	background: #00933D; 
	height: 2px; 
	position: absolute; 
	width: 100%; 
	left: 0px; 
	bottom: -1px; 
	transition: all 250ms ease 0s; 
	transform: scale(0); 
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { 
	transform: scale(1); 
}

.tab-nav > li > a::after { 
	background: #21527d none repeat scroll 0% 0%; 
	color: lightgray; 
}

.tab-pane { 
	padding: 10px 0; 
}

.tab-content {
	padding:10px
}

.center-custom {
	text-align: center;
}

.pagename-custom {
	text-align: center;
	color: #00933D;
	margin: 0;
	padding: 0;
}

.membername-custom {
	color: #00933D !important;
	margin-top: 0;
}

.centerimage-custom {
	text-align: center;
}

.jumbo-well-custom {
	 border: 1px solid;
	 border-color: #e7e7e7;
	 background-color: #F8F8F8;
}

.tab-mobile-custom {
	margin-left: 5%;
}

.caret-right {
  position: relative;
}

.caret-right:before {
  content: '';
  display: inline-block;
  border-left: 4px solid #040404;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.caret-right:after {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  border-left: 0px solid #eeeeee;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
}

.nav .float-left-custom{
	float: left !important;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .center-nav-custom{
		text-align: center;
    }
    
    .padding-nav-custom{
		padding-left: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    
    .margin-contact-custom{
		margin-left: 20%;
    }
}